In [10]:
import numpy as np
import pandas as pd
import os

In [11]:
titanic_train = pd.read_csv("C:/Users/semse/Downloads/train_and_test2.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 4-5: truncated \UXXXXXXXX escape (502308447.py, line 1)

In [ ]:
titanic_train.shape

In [ ]:
titanic_train.head(5)

In [ ]:
categorical = titanic_train.dtypes[titanic_train.dtypes == "object"].index
print(categorical)

titanic_train[categorical].describe()

In [ ]:
titanic_train["Ticket"][0:15]

In [ ]:
titanic_train["Ticket"].describe()

In [ ]:
del titanic_train["Ticket"]

In [ ]:
new_Pclass = pd.Categorical(titanic_train["Pclass"],ordered=True)

new_Pclass = new_Pclass.rename_categories(["Class1","Class2","Class3"])     

new_Pclass.describe()

In [ ]:
titanic_train["Pclass"] = new_Pclass

In [ ]:
titanic_train["Cabin"].unique()

In [ ]:
char_cabin = titanic_train["Cabin"].astype(str) # Convert data to str

new_Cabin = np.array([cabin[0] for cabin in char_cabin]) # Take first letter

new_Cabin = pd.Categorical(new_Cabin)

new_Cabin .describe()

In [ ]:
titanic_train["Cabin"] = new_Cabin

In [ ]:
dummy_vector = pd.Series([1,None,3,None,7,8])

dummy_vector.isnull()

In [ ]:
titanic_train["Age"].describe()

In [ ]:
missing = np.where(titanic_train["Age"].isnull() == True)
missing

In [ ]:
len(missing[0])

In [ ]:
titanic_train.hist(column='Age', figsize=(9,6), bins=20)

In [ ]:
new_age_var = np.where(titanic_train["Age"].isnull(), 28, titanic_train["Age"])

titanic_train["Age"] = new_age_var 

titanic_train["Age"].describe()

In [ ]:
titanic_train.hist(column='Age', figsize=(9,6), bins=20)